// ------------- Login ------------- //
.login {

  &__logo {
    width: 250px;
    height: 250px;
    border-radius: 25%;
		display:grid;
    margin: 0 auto 0px;
  }

  &__box{
    width: 600px;
    height: auto;
    background-color: #f8ede9;
    color: #333;
    margin: 120px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  }

  &__form {
    display:grid;
    justify-content: center;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    margin: 0 0 20px;
  }

  &__input {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		display:grid;
    text-align: center;
  }

  &__submit {
    background-color: #ff3e3e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
		width:auto;
    cursor: pointer;
		margin-left:auto;
		margin-right:auto;
    transition: background-color 0.3s ease-in-out;
  }

  &__links {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }

}